body {
    background-color: moccasin;
    font-family: monospace;
    background:hsl(29, 37%, 88%);
}

header {
    position: sticky;
    top: 0px;
    background:hsl(29, 37%, 88%);
}

header h1 {
    font-size: 2em;
    margin: 0 auto .5em auto;
    text-align: center;
    max-width: 900px;
}

header ul {
    margin: 0 auto .5em auto;
    text-align: center;
    border-bottom: 3px double black;
    max-width: 850px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header ul li {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: .5em;
}

section {
    margin: 0 auto .1em auto;
    padding: 0 1em;
    max-width: 900px;
}

section h2 {
    border-bottom: solid 1px black;
}

h1 {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1em;
}

button {
    display: block;
    margin: 0 auto;
}