body {
    font-family: monospace;
}

section.paper {
    margin: 0 auto;
    max-width: 50em;
}

h1 {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px double black;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1em;
}